@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Gajraj+One&display=swap');
/* fuente
letra contenido
font-family: 'Comfortaa',
sans-serif;
//letra titulo
font-family: 'Gajraj One',
sans-serif;
 */

/* colores
#0D7377
#32E0C4
#212121
#EEEEEE
*/

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

body {
background: #212121 ;
}

h1{
  color: #EEEE;
  font-family: 'Gajraj One',sans-serif;
}

.formulario-container{
  color: aliceblue;
  background: rgba(255, 255, 255, 0.125);
  box-shadow: 0 8px 22px 0 rgba(83, 102, 114, 0.467);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 2px solid rgba(150, 169, 157, 0.418);
  font-family: 'Comfortaa', sans-serif;
}

.footer{ 
  font-family: 'Comfortaa',sans-serif;
  background-color: #0D7377;
  color: #EEEE;
}

.logo {
  animation: logo 5s linear 0ms infinite normal forwards;
}

@keyframes logo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

Button {
  font-size: x-large;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: #FFFFFF;
  margin-top: 10%;
  position: relative;
  border: none;
  outline: none;
  background: black;
  cursor: pointer;
  transition: .5s;
  overflow: hidden;
}

Button::hover {
  color: white;
}

Button span {
  position: absolute;
  background-color: #0f9da1;
  transition: .5s;
}

Button span:nth-child(1) {
  width: 100%;
  height: 3px;
  top: 0;
  left: -100%;
}

Button span:nth-child(2) {
  width: 100%;
  height: 3px;
  bottom: 0;
  right: -100%;
}

Button span:nth-child(3) {
  width: 3px;
  height: 100%;
  bottom: -100%;
  left: 0;
}

Button span:nth-child(4) {
  width: 3px;
  height: 100%;
  top: -100%;
  right: 0;
}

Button:hover span:nth-child(1) {
  left: 0;
}

Button:hover span:nth-child(2) {
  right: 0;
}

Button:hover span:nth-child(3) {
  bottom: 0;
}

Button:hover span:nth-child(4) {
  top: 0;
}

